/* ================= RESET ================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;
    font-family:'Poppins',sans-serif;
    background:#020617;
}


/* ================= BACKGROUND ================= */

.background{
    position:fixed;
    inset:0;
    background:
    linear-gradient(
        to bottom,
        #020617,
        #081b36,
        #19395c
    );
    overflow:hidden;
    z-index:0;
}


/* ================= MOON ================= */

.moon{

    position:absolute;

    width:140px;
    height:140px;

    top:60px;
    right:15%;

    border-radius:50%;

    background:
    radial-gradient(
        circle,
        white,
        #dcecff 45%,
        transparent 70%
    );


    box-shadow:
    0 0 40px white,
    0 0 100px #7fb5ff;

}


/* ================= STARS ================= */

.stars{

    position:absolute;
    inset:0;


    background-image:
    radial-gradient(
        white 1px,
        transparent 1px
    );


    background-size:80px 80px;

    opacity:.5;

}



/* ================= LIGHT ================= */


.light{

    position:absolute;

    width:500px;
    height:500px;

    left:50%;
    top:60%;

    transform:translate(-50%,-50%);


    background:

    radial-gradient(
        circle,
        rgba(130,190,255,.35),
        transparent 70%
    );

}



/* ==========================================
        HOA CẨM TÚ CẦU
========================================== */

.flowers{
    position:absolute;
    bottom:20px;
    width:400px;
    height:300px;
    z-index:15;
}


/* bên trái */

.left-flowers{
    left:20px;
}


/* bên phải */

.right-flowers{
    right:20px;
    transform:scaleX(-1);
}


/* từng cụm hoa */

.flowers::before,
.flowers::after{

    content:"";

    position:absolute;

    width:220px;
    height:220px;

    border-radius:50%;


    background:
    radial-gradient(circle at 30% 30%,
    #ffffff,
    #9cc7ff 20%,
    #557cff 45%,
    #243b9f 70%,
    transparent 72%);


    box-shadow:

    0 0 30px #6ea8ff;


    animation:
    flowerFloat 4s infinite ease-in-out;

}



.flowers::before{

    left:20px;
    bottom:0;

}



.flowers::after{

    right:20px;
    bottom:70px;

}



@keyframes flowerFloat{

    50%{

        transform:translateY(-15px);

    }

}

/* ================= ROAD ================= */


.road{

    position:absolute;

    bottom:-150px;

    left:50%;

    transform:translateX(-50%);


    width:450px;
    height:650px;


    background:

    linear-gradient(
        to top,
        rgba(120,130,150,.35),
        transparent
    );


    clip-path:
    polygon(
        40% 0,
        60% 0,
        100% 100%,
        0 100%
    );

}



/* ================= TEXT ================= */


.content{

    position:absolute;

    top:35%;

    left:50%;

    transform:translate(-50%,-50%);

    width:90%;

    text-align:center;

    z-index:30;

}



.content h1{


    font-family:
    'Cormorant Garamond',
    serif;


    font-size:65px;

    letter-spacing:5px;


    color:white;


    text-shadow:

    0 0 20px #8ec5ff,
    0 0 50px #508cff;


}



.content p{

    margin-top:25px;

    color:#d5e6ff;

    font-size:20px;

}



/* ================= LOADING ================= */


.progress{

    width:400px;

    height:5px;

    margin:40px auto;

    background:#ffffff40;

}



.progress-bar{

    height:100%;

    width:100%;

    background:white;

}



/* ==========================================
        HỘP QUÀ
========================================== */


.gift-container{

    position:absolute;

    left:50%;

    bottom:100px;

    transform:translateX(-50%) scale(0);

    z-index:50;


    transition:1s;


}


/* hiện ra sau loading */

.gift-container.show{

    transform:
    translateX(-50%)
    scale(1);


}




.gift{

    width:180px;

    height:160px;

    position:relative;

    cursor:pointer;


    animation:

    giftFloat 3s infinite ease-in-out;


}



@keyframes giftFloat{


    50%{

        transform:translateY(-20px);

    }

}




/* thân hộp */

.gift-body{


    position:absolute;

    bottom:0;

    width:180px;

    height:110px;


    background:

    linear-gradient(
    135deg,
    #284b9b,
    #071b55
    );


    border-radius:0 0 15px 15px;


    box-shadow:

    0 0 40px rgba(100,160,255,.8);

}




/* nắp hộp */

.gift-top{


    position:absolute;


    top:25px;


    width:180px;

    height:35px;


    background:#4169e1;


    border-radius:10px;


}




/* dây dọc */

.gift-ribbon-v{


    position:absolute;


    left:80px;

    width:20px;

    height:135px;


    background:#ffd85c;


}




/* dây ngang */

.gift-ribbon-h{


    position:absolute;


    top:60px;


    width:180px;

    height:20px;


    background:#ffd85c;


}



/* nơ */


.gift-bow{


    position:absolute;


    top:-20px;


    width:60px;

    height:45px;


    background:#ffd85c;


    border-radius:50%;


}



.bow-left{

    left:35px;

    transform:rotate(-30deg);

}



.bow-right{

    right:35px;

    transform:rotate(30deg);

}




/* mở hộp */

.gift.open .gift-top{


    transform:

    translateY(-60px)
    rotateX(40deg);


    transition:1s;

}



.gift.open{


    animation:none;

}



/* ================= FIREFLY ================= */


#fireflies{

    position:absolute;

    inset:0;

    z-index:20;

}


.fly{

    width:6px;

    height:6px;

    background:#fff7a8;

    border-radius:50%;

    position:absolute;


    box-shadow:

    0 0 15px #fff7a8;

}
